---
import Accelr from "../assets/logos/accelr.png";
import BlockStars from "../assets/logos/blockstars.jpg";
import GalleLaptop from "../assets/logos/galle_laptop.jpg";
import Lseg from "../assets/logos/lseg.png";
import LTL from "../assets/logos/ltl.png";
import Luminex from "../assets/logos/luminex.png";
import Ncinga from "../assets/logos/ncinga.png";
import Sellx from "../assets/logos/sellx.png";
import Simsyn from "../assets/logos/simsyn.png";
import Trinet from "../assets/logos/trinet.png";
---

<section class="flex flex-col md:container">
  <div>
    <h3 class="text-center text-2xl mb-8">Platinum Sponsors</h3>

    <div class="flex flex-col md:flex-row justify-evenly items-center">
      <img class="p-2" src={Ncinga.src} width="350" alt="NCINGA" />
      <img class="p-2" src={Simsyn.src} width="250" alt="SimSyn" />
    </div>
  </div>

  <h3 class="text-center text-2xl mb-8 mt-16">Gold Sponsors</h3>

  <div class="flex flex-col md:flex-row justify-evenly items-center">
    <img class="p-2" src={Lseg.src} width="350" alt="LSEG" />
    <img class="p-2" src={LTL.src} width="200" alt="LTL" />
  </div>

  <h3 class="text-center text-2xl mb-8 mt-16">Bronze Sponsors</h3>

  <div class="flex flex-col md:flex-row justify-evenly items-center">
    <img class="p-2" src={Accelr.src} width="200" alt="Accelr" />
    <img
      class="p-2"
      src={Luminex.src}
      width="200"
      alt="Luminex"
      style="max-height: 250px;"
    />
    <img class="p-2" src={Trinet.src} width="200" height="200" alt="Trinet" />
  </div>

  <h3 class="text-center text-2xl mb-8 mt-16">Associates</h3>

  <div class="flex flex-col md:flex-row justify-evenly items-center">
    <img class="p-2" src={BlockStars.src} width="200" alt="Block Stars" />
  </div>

  <h3 class="text-center text-2xl mb-8 mt-16">Resource Partners</h3>

  <div class="flex flex-col md:flex-row justify-evenly items-center">
    <img class="p-2" src={Sellx.src} width="200" alt="Sellx" />
    <img class="p-2" src={GalleLaptop.src} width="200" alt="Galle Laptop" />
  </div>
</section>
